*{
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --bg-sidebar: #040b14;
    --bg-content: #f5f5f5;
    --bg-home-content: #E5F4FE;
    --text-color: #f5f5f5;
    --surface-color: #151f2b;
    --nav-btn-color: #a8a9b4;
    --btn-hover-color: #3F87F6;
    --bg-btn-second-grey: #F1F9FE;
    --bg-hamburger-icon: #f2f2f2;
}

html {
    scroll-behavior: smooth;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: none;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.horizontal-menu {
    display: none;
    width: 100dvw;
    height: min-content;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 5px 15px;
    background-color: #ffffff;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);


    .decorated-text {
        text-decoration: none;
        font-size: 30px;
        font-family: "Pacifico", cursive;
        color: #3B82F6;
    }

}

.hamburger-icon {
    cursor: pointer;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: transparent;
    transition: all 0.3s ease;

    img {
        width: 45px;
        height: 45px;
    }
}
.hamburger-icon:hover {
    transform: scale(1.1);
}

.sidebar{
    width: 300px;
    background-color: var(--bg-sidebar);
    color: var(--text-color);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 20px;
    overflow-y: auto;
    z-index: 9999;

    .collapse-sidebar {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }
    .collapse-sidebar:hover {
        transform: scale(1.2);
    }

    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-family: "Raleway", sans-serif;
            font-size: 25px;
            font-weight: 700;
            color: var(--text-color);
        }
    }

    .profile-img{
        width: 150px;
        height: 150px;
        margin: 20px auto;
        display: block;
        border: 8px solid #292f37;
        border-radius: 50%;
        background: var(--bg-content);
    }

    .social-icons{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-block: 20px;
        gap: 10px;
    }

    .social-icons a{
        width: 40px;
        height: 40px;
        margin: 0 2px;
        background-color: #292f37;
        border: 2px solid transparent;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        img{
            height: 25px;
            width: 25px;
        }
    }
    .social-icons a:hover{
        border-color: var(--bg-content);
    }

    .nav-links{
        width: 100%;
        padding-top: 15px;
        list-style: none;
        z-index: 1000;
        display: flex;
        flex-direction: column;
    }

    .nav-links li{
        margin: 7.5px 0;
    }

    .nav-link {
        width: max-content;
        text-decoration: none;
        color: var(--nav-btn-color);
        font-weight: bold;
        font-size: 18px;
        padding: 15px 10px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        white-space: nowrap;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    .nav-link.active, 
    .nav-link:hover {
        color: var(--text-color);
    }

    .nav-icon{
        width: 27.5px;
        height: 27.5px;
        transition: filter 0s ease;
    }

    .nav-link.active .nav-icon,
    .nav-link:hover .nav-icon {
        filter: brightness(0) saturate(100%) invert(100%);
    }

}

.content{
    min-height: 100vh;
    margin-left: 300px;
    overflow-y: auto;
    width: calc(100% - 300px);
    background-color: var(--bg-content);
}

.content::-webkit-scrollbar {
    width: 5px;
}

.content::-webkit-scrollbar-track {
    background: none;
}

.content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

@media only screen and (max-width: 767px) { 
    .horizontal-menu {
        display: inline-flex;
        padding: 0 5px;

        div {
            margin: 0 auto;
        }

    }

    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        width: 300px;
        z-index: 1000;

        .collapse-sidebar {
            display: block;
        }
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .content {
        margin-left: 0;
        width: 100dvw;
    }
    .content::-webkit-scrollbar {
        display: none;
    }
}

@media only screen 
    and (min-width: 768px)
    and (max-width: 1023px)
    and (-webkit-min-device-pixel-ratio: 1) {
    .horizontal-menu {
        display: inline-flex;
        
        div {
            margin: 0 auto;
        }
    }

    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        width: 300px;
        z-index: 1000;

        .collapse-sidebar {
            display: block;
        }
    }


    .sidebar.active {
        transform: translateX(0);
    }

    .content {
        margin-left: 0;
        width: 100dvw;
        overflow-x: hidden;
    }

    .content::-webkit-scrollbar {
        display: none;
    }
}

.right-terminal{
    width: 100%;
    height: 100vh;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./src/assets/home-bg-img.webp");
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
    font-family: "Inter", sans-serif;
}

.hero-container {
    width: 100%;
    display: flex;
}

.recruitment-status{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #111827;
    font-family: "Inter", sans-serif;

    .status-body{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--bg-home-content);
        backdrop-filter: blur(4x);
        color: #334155;
        padding: 7.5px 15px;
        border-radius: 12.5px;
        margin-bottom: 15px;
    }

    .actively-looking{
        font-size: 30px;
        font-weight: bold;
    }
}

.header-container {
    width: 100%;
    font-size: 44px;
    background-color: var(--bg-home-content);
    backdrop-filter: blur(4x);
    padding: 7.5px 15px;
    border-radius: 12.5px;
    margin-bottom: 15px;

    span {
        color: #3B82F6;
    }
}

.home-description {
    width: 100%;
    background-color: var(--bg-home-content);
    backdrop-filter: blur(4x);
    padding: 7.5px 15px;
    border-radius: 12px;
    font-size: 20px;
    margin-bottom: 15px;
}

.home-buttons {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
}

.project-section {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--btn-hover-color);
    font-size: 18px;
    font-weight: bold;
    background-color: var(--bg-btn-second-grey);
    padding: 10px 15px;
    border-radius: 7px;
    transition: all 0.3s ease;
    border: 2.5px solid var(--btn-hover-color);
    margin-right: 15px;
    transition: transform 0.3s ease;
}
.project-section:hover {
    transform: translateY(-2.5px);
}


.notification-status{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid transparent;
    animation: flicker 1s infinite alternate;
}

@keyframes flicker {
    0% { background-color: #00cc00; box-shadow: 0 0 4px #00cc00; }
    50% { background-color: #00ff00; box-shadow: 0 0 10px #00ff00, 0 0 15px #00ff00;}
    100% { background-color: #00cc00; box-shadow: 0 0 4px #00cc00; }
}

.typewriter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        border: 3px solid var(--bg-btn-second-grey);
    }
}

@media only screen and (max-width: 767px) {
    .right-terminal {
        width: 100dvw;
        min-height: 100dvh;
        max-height: max-content;
        height: 100%;
        padding: 10px;
    }

    .hero-container {
        flex-direction: column;
    }

    .recruitment-status {
        margin-top: 60px;
        margin-bottom: 10px;
        font-family: "Inter", sans-serif;

        .actively-looking {
            font-size: 20px;
        }
    }

    .header-container {
        font-size: 26px;
    }

    .home-buttons {
        justify-content: center;
    }

    .project-section,
    .resume-download {
        font-size: 16px;
        padding: 7.5px 12.5px;
    }

    .notification-status {
        height: 16px;
        width: 16px;
        margin-right: 10px;
    }

    .typewriter {
        margin-block: 15px;
    }
}

@media only screen 
    and (min-width: 768px)
    and (max-width: 1024px) {

        .right-terminal {
            width: 100vw;
            min-height: 100dvh;
            max-height: max-content;
            height: 100%;
            padding: 10px;
            overflow-x: hidden;
        }
    
        .recruitment-status {
            margin: 75px auto 10px 10px;
            font-family: "Roboto", sans-serif;
        }

        .header-container {
            font-size: 36px;
        }
}

.terminal-window{
    width: 100%;
    max-width: 800px;
    min-width: 320px;
    height: max-content;
    background-color: rgba(15, 15, 30, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    color: var(--nav-btn-color);
    font-family: "Fira Mono", monospace;
    font-style: normal;
    margin: 2rem auto;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.info-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 0.6rem 1rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 1rem;

    .header-title{
        flex-grow: 1;
        text-align: center;
        margin-right: 1rem;
        font-family: "Roboto", sans-serif;
    }

    .window-controls{
        display: flex;
        gap: 8px;

        .dot{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: inline-block;
        };

        .close{
            background-color: #ff5f56;
        };

        .minimize{
            background-color: #ffbd2e;
        };

        .maximize{
            background-color: var(--color-green-terminal);
        }
    };

    h2{
        flex-grow: 1;
        text-align: center;
        color: #c084fc;
        font-size: 1.1rem;
        transform: translateX(-15px);
    }
}

.info-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 1.5rem;
    font-family: "Fira Mono", monospace;

    .about-me{
        width: 100%;
        text-align: left;
        margin: 10px auto 25px auto;
        font-size: 18px;
        font-weight: bold;
    };

    p{
        width: 100%;
        margin: 5px auto;
        text-align: left;
        font-weight: bold;
    };

    ul{
        width: 100%;
        list-style-type: none;
        margin: 5px auto;
    }

    .list-item{
        margin: 5px 0;
        font-size: 1rem;
        color: var(--btn-hover-color);
    }

    .command{
        color: var(--nav-btn-color);
        font-size: 18px;
        font-weight: bold;

        span{
            color: #27C93F;
            font-style: italic;
            padding: 0 7.5px 0 3px;
        }
    }
}

.input-line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    margin: 10px auto 20px auto;

    .prompt{
        font-weight: bold;
        color: var(--btn-hover-color);
        margin-right: 7.5px;
    }
}
  
.input-wrapper {
    position: relative;
    flex: 1;
}
  
#command-input {
    background: none;
    border: none;
    color: var(--color-green-terminal);
    font: inherit;
    font-weight: bold;
    width: 100%;
    outline: none;
}

.info-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #3d65d3;
    font-family: "Poppins", sans-serif;
}

.fade-in-section {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-20%);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    will-change: opacity, transform;
}

.intro.fade-in-section, 
.goal.fade-in-section {
    transform: translateX(-50%);
    transition: opacity 1.8s ease-out, transform 1.8s ease-out;
    filter: none !important;
}

.fade-in-section.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

/*Accessibility: Users who prefer no motion effects for some reason*/
@media (prefers-reduced-motion: reduce) {
    .fade-in-section,
    .fade-in-section.visible {
      transition: none !important;
      transform: none !important;
      opacity: 1 !important;
    }
}

.resume-download {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    background-color: #007ACC;
    padding: 7.5px 15px;
    border-radius: 7px;
    transition: all 0.3s ease;

    img {
        margin-right: 5px;
        width: 30px;
        height: 30px;
    }
}
.resume-download:hover {
    background-color: #1D4ED8;
    transform: translateY(-2.5px);
}

.about-container {
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    height: 100%;
    padding: 25px 50px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: "Roboto", sans-serif;


    .about-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 20px auto;
    } 
}

.about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 5px;

    .frontend-skill,
    .extra-skill {
        width: 100%;
        margin: 20px 0 0 0;
        padding: 10px 15px;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    }

    .skill-header {
        font-size: 20px;
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;

        img {
            height: 45px;
            width: 45px;
            padding: 7.5px;
            border-radius: 50%;
            background-color: #DBEAFE;
        }
    }

    .skill-body {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    li {
        margin: 5px 10px;
        padding: 7.5px 12.5px;
        border-radius: 7.5px;
        font-size: 18px;
        font-weight: 500;
        color: #D1D5DB;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #1F2937;
    }
}

.chart-wrapper {
    width: 100%;
    min-height: 300px;
    height: 100%;
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 10px 15px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h3 {
        font-size: 22px;
        font-weight: bold;
        padding: 10px 0 5px 5px;
    }
}

#radar-chart {
    margin: 0 auto;
    height: 300px;
    width: 400px;
}

.intro {
    width: 100%;
    color: #334155;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    gap: 10px;
    text-align: justify;
    line-height: 1.5;
    font-size: 18px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease;
}
.intro:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.section-name {
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
    border-bottom: 3px solid #007acc;
}

.skill-container {
    width: 100%;
    max-width: 50rem;
    font-family: "Roboto";
    position: relative;
    overflow: hidden;
    margin: 20px auto;
}

.inner {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    animation: loop 12s linear infinite;
}

.tag {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    gap: 0 0.2rem;
    margin-right: 1rem;
    padding: 0.7rem 1rem;
}

.skill-logo {
    height: 40px;
    width: 40px;
}

.fade {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 767px) {

    .about-container {
        width: 100dvw;
        min-height: 100dvh;
        max-height: max-content;
        height: 100%;
        padding: 20px 10px;
        overflow-x: hidden;
    }

    .section-name {
        border-bottom-color: #007acc;
    }

    .intro {
        margin: 5px auto !important;
    }

    .about-image {
        width: 100%;
        margin: 0 auto;
    }

    .about-details {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-content {
        width: 100%;
        height: max-content;
        justify-content: center;
        align-items: center;
        margin: 15px 5px 5px 0;

        .skill-header {
            width: 100%;
            text-align: center;
            margin: 5px auto;
        }

        .skill-body {
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        li {
            font-size: 18px !important;
        }
    }

    .skill-container {
        width: 100%;
        max-width: 25rem;
    }

    .chart-wrapper {
        padding: 5px;
        overflow-x: scroll;
    }

    #radar-chart {
        margin-top: 10px;
        height: 300px;
        width: 350px;
    }
}

@media only screen 
    and (min-width: 768px)
    and (max-width: 1024px) {
        .about-container {
            width: 100dvw;
            min-height: 100dvh;
            max-width: max-content;
            height: 100%;
            padding: 25px;
        }
}

.project-container {
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    height: 100%;
    padding: 25px 50px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: "Roboto", sans-serif;
}

.project-section-description {
    width: 100%;
    color: #334155;
    text-align: center;
    font-size: 18px;
}

.project-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.project-card {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #292f37;
    border-radius: 12px;
    padding: 10px 15px;
    margin-bottom: 20px;

    img {
        width: 400px;
        height: 250px;
        border-radius: 12px;
    }
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    gap: 10px;

    h3 {
        font-size: 24px;
        color: var(--text-color);
    }

    p {
        color: #D1D5DB;
        font-size: 18px;
        line-height: 1.25;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 20px;
        font-size: 20px;
        color: #D1D5DB;
    }
}

.project-links {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;

    a, p {
        text-decoration: none;
        color: var(--text-color);
        font-size: 18px;
        font-weight: bold;
        background-color: #007acc;
        padding: 7.5px 15px;
        border-radius: 7px;
        transition: all 0.3s ease;
    }
    a:hover {
        background-color: #1D4ED8;
        transform: translateY(-2.5px);
    }
}

@media only screen 
    and (min-width: 768px)
    and (max-width: 1024px) {
        .project-container {
            width: 100dvw;
            min-height: 100dvh;
            max-height: max-content;
            height: 100%;
            padding: 25px;
        }

        .project-card {
            width: 100%;

            img {
                margin: auto 0;
            }
        }

        .project-description {
            margin-left: 15px;
            gap: 5px;

            h3 {
                font-size: 22px;
            }

            p {
                font-size: 16px;
                line-height: normal;
                text-align: justify;
            }

            ul {
                font-size: 18px;
                font-weight: 500;
            }
        }
}

@media only screen 
    and (max-width: 767px) {
        .project-container {
            width: 100dvw;
            min-height: 100dvh;
            max-height: max-content;
            height: 100%;
            padding: 20px 10px;
        }

        .project-section-description {
            text-align: justify;
        }

        .project-card {
            width: 100%;
            flex-direction: column;
            gap: 15px;

            img {
                min-width: 265px;
                width: 100%;
                min-height: 200px;
                max-height: 450px;
                height: 100%;
            }
        }

        .project-description {
            margin-left: 0;
            gap: 5px;

            h3 {
                margin: 0 auto;
                font-size: 22px;
                font-weight: 600;
            }

            p {
                font-size: 16px;
                line-height: normal;
                text-align: justify;
            }

            ul {
                font-size: 18px;
                gap: 10px;
                font-weight: 500;
                margin: 0 auto 5px auto;
            }
        }

        .project-links {
            justify-content: center;
        }
} 

.contact-container {
    width: 100%;
    min-height: 100dvh;
    max-height: max-content;
    height: 100%;
    padding: 25px 50px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: "Roboto", sans-serif;
}

.contact-grid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-block: 25px;
    gap: 20px;
}

.contact-info, 
.send-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 10px 15px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);

    h3 {
        font-size: 24px;
        font-weight: bold;
        margin: 5px auto;
    }
}

.personal-detail {
    width: 100%;
    margin: 10px 0;
    gap: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        height: 50px;
        width: 50px;
        padding: 7.5px;
        border-radius: 50%;
        background-color: #DBEAFE;
    }
}

.location-map {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.location-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.contact-form {
    width: 100%;
    padding: 0 10px;
}

.form-element {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0;
    gap: 2px;
}

.form-element input,
.form-element textarea {
    width: 100%;
    padding: 7.5px 10px;
    border: 2px solid #ccc;
    border-radius: 7.5px;
    font-size: 18px;
}
.form-element input:focus,
.form-element textarea:focus {
    border-color: #3B82F6;
}

.submit-btn {
   width: 100%;
   padding: 10px 15px; 
   margin-top: 7.5px;
   background-color: #3B82F6;
   color: var(--text-color);
   font-size: 16px;
   cursor: pointer;
   border-radius: 7.5px;
   transition: all 0.3s ease-in-out;
}
.submit-btn:hover {
    background-color: #1D4ED8;
}

.footer {
    width: 100%;
    height: 150px;
    background-color: #292f37;
}

.footer-container {
    width: 100%;
    padding: 50px 25px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--text-color);
}

.footer-container p {
    font-size: 18px;
}

.footer-container div {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    a {
        font-size: 20px;
        text-decoration: none;
        color: var(--text-color);
        transition: transform 0.3s ease-in-out;
    }
}

.footer-container img {
    height: 30px;
    width: 30px;
}

.social-icons-link a:hover{
    transform: scale(1.15);
}

@media only screen
    and (max-width: 767px) {

    .contact-container {
        width: 100dvw;
        padding: 20px 10px;
        overflow: hidden;
    }

    .contact-grid {
        flex-wrap: wrap;
    } 

    .footer-container {
        padding: 25px 20px;
        justify-content: center;
        gap: 10px;
    }
}